{% extends "base.html" %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}

{% block 'body' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md d-flex justify-content-center">
            <div class="cont-cadastro">
                <br>
                <br>
                <section class="cont-logo">
                    <img class="logo" src="{% static 'geral/img/logo.png' %}">
                    <label class="text-logo">Minha Saúde</label>
                </section>
                <hr>
                <h2 class="fonte-destaque1">Recuperar Senha</h2>
                <form action="{% url 'password_reset' %}" method="post"> {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Informe seu endereço de e-mail:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Enviar" class="btn btn-success btn-dark-color">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md bg-main d-flex justify-content-center align-items-center">
            <img src="{% static 'usuarios/img/ilustracao.png' %}" alt="">
        </div>
    </div>
</div>
{% endblock 'body' %}

