{% extends "base.html" %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock 'head' %}

{% block 'body' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md d-flex justify-content-center">
            <div class="cont-cadastro">
                <br>
                <br>
                <section class="cont-logo">
                    <img class="logo" src="{% static 'geral/img/logo.png' %}">
                    <label class="text-logo">Minha Saúde</label>
                </section>
                <hr>
                <h2 class="fonte-destaque1">Recuperar Senha</h2>
                <p>Um email foi enviado com instruções de como resetar a senha. Por favor acesse seu email.</p>
           </div>
        </div>
        <div class="col-md bg-main d-flex justify-content-center align-items-center">
            <img src="{% static 'usuarios/img/ilustracao.png' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}